src/main/resources/wsdl/Web-Service-A.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (https://github.com/eclipse-ee4j/metro-jax-ws). RI's version is JAX-WS RI 2.3.5 git-revision#7ddc91f. --><!-- Generated by JAX-WS RI (https://github.com/eclipse-ee4j/metro-jax-ws). RI's version is JAX-WS RI 2.3.5 git-revision#7ddc91f. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://ws.webservices.ufc.ge/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://ws.webservices.ufc.ge/" name="UserServiceWSImplService">
<types>
<xsd:schema>
<xsd:import namespace="http://ws.webservices.ufc.ge/" schemaLocation="http://localhost:8080/Web-Service-A/Web-Service-A?xsd=1"/>
</xsd:schema>
</types>
<message name="status">
<part name="parameters" element="tns:status"/>
</message>
<message name="statusResponse">
<part name="parameters" element="tns:statusResponse"/>
</message>
<message name="AgentAccessDenied">
<part name="fault" element="tns:AgentAccessDenied"/>
</message>
<message name="TransactionNotFound">
<part name="fault" element="tns:TransactionNotFound"/>
</message>
<message name="AgentAuthFailed">
<part name="fault" element="tns:AgentAuthFailed"/>
</message>
<message name="InternalError">
<part name="fault" element="tns:InternalError"/>
</message>
<message name="DatabaseException">
<part name="fault" element="tns:DatabaseException"/>
</message>
<message name="getUser">
<part name="parameters" element="tns:getUser"/>
</message>
<message name="getUserResponse">
<part name="parameters" element="tns:getUserResponse"/>
</message>
<message name="UserNotFound">
<part name="fault" element="tns:UserNotFound"/>
</message>
<message name="pay">
<part name="parameters" element="tns:pay"/>
</message>
<message name="payResponse">
<part name="parameters" element="tns:payResponse"/>
</message>
<message name="DuplicateFault">
<part name="fault" element="tns:DuplicateFault"/>
</message>
<message name="AmountNotPositive">
<part name="fault" element="tns:AmountNotPositive"/>
</message>
<portType name="UserServiceWSImpl">
<operation name="status">
<input wsam:Action="http://ws.webservices.ufc.ge/UserServiceWSImpl/statusRequest" message="tns:status"/>
<output wsam:Action="http://ws.webservices.ufc.ge/UserServiceWSImpl/statusResponse" message="tns:statusResponse"/>
<fault message="tns:AgentAccessDenied" name="AgentAccessDenied" wsam:Action="http://ws.webservices.ufc.ge/UserServiceWSImpl/status/Fault/AgentAccessDenied"/>
<fault message="tns:TransactionNotFound" name="TransactionNotFound" wsam:Action="http://ws.webservices.ufc.ge/UserServiceWSImpl/status/Fault/TransactionNotFound"/>
<fault message="tns:AgentAuthFailed" name="AgentAuthFailed" wsam:Action="http://ws.webservices.ufc.ge/UserServiceWSImpl/status/Fault/AgentAuthFailed"/>
<fault message="tns:InternalError" name="InternalError" wsam:Action="http://ws.webservices.ufc.ge/UserServiceWSImpl/status/Fault/InternalError"/>
<fault message="tns:DatabaseException" name="DatabaseException" wsam:Action="http://ws.webservices.ufc.ge/UserServiceWSImpl/status/Fault/DatabaseException"/>
</operation>
<operation name="getUser">
<input wsam:Action="http://ws.webservices.ufc.ge/UserServiceWSImpl/getUserRequest" message="tns:getUser"/>
<output wsam:Action="http://ws.webservices.ufc.ge/UserServiceWSImpl/getUserResponse" message="tns:getUserResponse"/>
<fault message="tns:UserNotFound" name="UserNotFound" wsam:Action="http://ws.webservices.ufc.ge/UserServiceWSImpl/getUser/Fault/UserNotFound"/>
<fault message="tns:DatabaseException" name="DatabaseException" wsam:Action="http://ws.webservices.ufc.ge/UserServiceWSImpl/getUser/Fault/DatabaseException"/>
<fault message="tns:AgentAccessDenied" name="AgentAccessDenied" wsam:Action="http://ws.webservices.ufc.ge/UserServiceWSImpl/getUser/Fault/AgentAccessDenied"/>
<fault message="tns:AgentAuthFailed" name="AgentAuthFailed" wsam:Action="http://ws.webservices.ufc.ge/UserServiceWSImpl/getUser/Fault/AgentAuthFailed"/>
</operation>
<operation name="pay">
<input wsam:Action="http://ws.webservices.ufc.ge/UserServiceWSImpl/payRequest" message="tns:pay"/>
<output wsam:Action="http://ws.webservices.ufc.ge/UserServiceWSImpl/payResponse" message="tns:payResponse"/>
<fault message="tns:DuplicateFault" name="DuplicateFault" wsam:Action="http://ws.webservices.ufc.ge/UserServiceWSImpl/pay/Fault/DuplicateFault"/>
<fault message="tns:AmountNotPositive" name="AmountNotPositive" wsam:Action="http://ws.webservices.ufc.ge/UserServiceWSImpl/pay/Fault/AmountNotPositive"/>
<fault message="tns:UserNotFound" name="UserNotFound" wsam:Action="http://ws.webservices.ufc.ge/UserServiceWSImpl/pay/Fault/UserNotFound"/>
<fault message="tns:DatabaseException" name="DatabaseException" wsam:Action="http://ws.webservices.ufc.ge/UserServiceWSImpl/pay/Fault/DatabaseException"/>
<fault message="tns:AgentAccessDenied" name="AgentAccessDenied" wsam:Action="http://ws.webservices.ufc.ge/UserServiceWSImpl/pay/Fault/AgentAccessDenied"/>
<fault message="tns:AgentAuthFailed" name="AgentAuthFailed" wsam:Action="http://ws.webservices.ufc.ge/UserServiceWSImpl/pay/Fault/AgentAuthFailed"/>
</operation>
</portType>
<binding name="UserServiceWSImplPortBinding" type="tns:UserServiceWSImpl">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="status">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="AgentAccessDenied">
<soap:fault name="AgentAccessDenied" use="literal"/>
</fault>
<fault name="TransactionNotFound">
<soap:fault name="TransactionNotFound" use="literal"/>
</fault>
<fault name="AgentAuthFailed">
<soap:fault name="AgentAuthFailed" use="literal"/>
</fault>
<fault name="InternalError">
<soap:fault name="InternalError" use="literal"/>
</fault>
<fault name="DatabaseException">
<soap:fault name="DatabaseException" use="literal"/>
</fault>
</operation>
<operation name="getUser">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="UserNotFound">
<soap:fault name="UserNotFound" use="literal"/>
</fault>
<fault name="DatabaseException">
<soap:fault name="DatabaseException" use="literal"/>
</fault>
<fault name="AgentAccessDenied">
<soap:fault name="AgentAccessDenied" use="literal"/>
</fault>
<fault name="AgentAuthFailed">
<soap:fault name="AgentAuthFailed" use="literal"/>
</fault>
</operation>
<operation name="pay">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="DuplicateFault">
<soap:fault name="DuplicateFault" use="literal"/>
</fault>
<fault name="AmountNotPositive">
<soap:fault name="AmountNotPositive" use="literal"/>
</fault>
<fault name="UserNotFound">
<soap:fault name="UserNotFound" use="literal"/>
</fault>
<fault name="DatabaseException">
<soap:fault name="DatabaseException" use="literal"/>
</fault>
<fault name="AgentAccessDenied">
<soap:fault name="AgentAccessDenied" use="literal"/>
</fault>
<fault name="AgentAuthFailed">
<soap:fault name="AgentAuthFailed" use="literal"/>
</fault>
</operation>
</binding>
<service name="UserServiceWSImplService">
<port name="UserServiceWSImplPort" binding="tns:UserServiceWSImplPortBinding">
<soap:address location="http://localhost:8080/Web-Service-A/Web-Service-A"/>
</port>
</service>
</definitions>